In [75]:
# Dependencies
import numpy as np
import pandas as pd
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [76]:
engine = create_engine("sqlite:///hawaii.sqlite")

# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [77]:
# Create our session (link) from Python to the DB
session = Session(engine)

## D1: Determine the Summary Statistics for June

In [78]:
# 1. Import the sqlalchemy extract function.
from sqlalchemy import extract
import datetime as dt
# 2. Write a query that filters the Measurement table to retrieve the temperatures for the month of June. 
#https://stackoverflow.com/questions/11616260/how-to-get-all-objects-with-a-date-that-fall-in-a-specific-month-sqlalchemy/31641488
june_data = session.query(Measurement.date, Measurement.tobs).filter(extract('month', Measurement.date)==6).all()

In [79]:
#  3. Convert the June temperatures to a list.
june_data = list(june_data)

In [86]:
# 4. Create a DataFrame from the list of temperatures for the month of June. 
june_data_df = pd.DataFrame(june_data, columns=['Date', 'June Temp'])

In [87]:
# 5. Calculate and print out the summary statistics for the June temperature DataFrame.
june_data_df.describe()

         June Temp
count  1700.000000
mean     74.944118
std       3.257417
min      64.000000
25%      73.000000
50%      75.000000
75%      77.000000
max      85.000000

## D2: Determine the Summary Statistics for December

In [8]:
# 6. Write a query that filters the Measurement table to retrieve the temperatures for the month of December.

In [9]:
# 7. Convert the December temperatures to a list.

In [10]:
# 8. Create a DataFrame from the list of temperatures for the month of December.

In [11]:
# 9. Calculate and print out the summary statistics for the Decemeber temperature DataFrame.